//Variabili

$primary-col: #E76F51;
$secondary-col: #E9C46A;
$text-col: #F4A261;
$bkg-col: #264653;

// General
body {
  color: $text-col;
  background: $bkg-col;
  margin: 0 auto;
  width: 1200px;
  font-family: sans-serif;
}

// Titoli
h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1 {
  color: $primary-col;
  text-align: center;
}

h2,
h3 {
  color: $secondary-col;
}
